<template>
  <footer>
    <p>
      برای مرتب شدن وظایف میتوانید وظیفه مورد نظر را بکشید و رها کنید-drag &
      Drop
    </p>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
