<template>
  <header class="card">
    <h1>لیست وظایف</h1>

    <button id="theme-switcher" @click="changeTheme">
      <img
        v-if="defaultTheme == 'dark'"
        :src="sunImage"
        alt="change color theme"
      />
      <img v-else :src="moonImage" alt="change color theme" />
    </button>
  </header>
</template>

<script>
import sun from "../assets/images/icon-sun.svg";
import moon from "../assets/images/icon-moon copy.svg";
export default {
  name: "appHeader",
  data() {
    return {
      sunImage: sun,
      moonImage: moon,
      defaultTheme: "dark",
    };
  },
  methods: {
    changeTheme() {
      if (this.defaultTheme == "dark") {
        this.defaultTheme = "light";
        document.querySelector("body").classList.add("light");
      } else {
        this.defaultTheme = "dark";
        document.querySelector("body").classList.remove("light");
      }
    },
  },
};
</script>
