<template>
  <li class="card" draggable="true">
    <div class="cb-container">
      <input
        type="checkbox"
        :checked="todo.isComplate ? true : null"
        class="cb-input"
        @click="checkTodo"
      />
      <span class="check"></span>
    </div>
    <p class="item">
      <del v-if="todo.isComplate == true">{{ todo.title }}</del>
      <span v-else v-text="todo.title"></span>
    </p>
    <button class="clear" @click="deleteTodo">
      <img :src="crossImage" alt="Clear it" />
    </button>
  </li>
</template>

<script>
import cross from "../assets/images/icon-cross copy.svg";
export default {
  props: {
    todo: Object,
  },
  Data() {
    return { crossImage: cross };
  },
  methods: {
    deleteTodo() {
      if (confirm("ایا از حذف اطمینان دارید")) {
        this.$emit("Deleted", this.todo.id);
      }
    },
    checkTodo() {
      this.$emit("checkTodo", this.todo.id, !this.todo.isComplate);
    },
  },
};
</script>

<style scoped></style>
