<template>
  <appHeader />
  <main>
    <AddTodo @AddNewTodo="AddTodo" />
    <ul class="todos">
      <Todo
        v-for="(item, i) in getTodo"
        :key="item.id"
        :todo="item"
        @dragstart="dragStart(i)"
        @Deleted="Deletedtodo"
        @checkTodo="changeTodo"
        @dragover.prevent
        @drop="drop(i)"
      />
    </ul>
    <div class="card stat">
      <p class="corner">
        <span id="item-left">{{ getActiveTodoCount }}</span
        >باقی مانده مورد
      </p>
      <div class="filter">
        <button
          id="all"
          :class="{ on: activeTab == 'all' }"
          @click="changeTab('all')"
        >
          همه
        </button>
        <button
          id="active"
          :class="{ on: activeTab == 'active' }"
          @click="changeTab('active')"
        >
          فعال
        </button>
        <button
          id="completed"
          :class="{ on: activeTab == 'completed' }"
          @click="changeTab('completed')"
        >
          تکمیل
        </button>
      </div>
      <div class="corner">
        <button @click="deleteCopleted" id="clear-completed">
          حذف تکمیل شده ها
        </button>
      </div>
    </div>
  </main>
  <AppFooter></AppFooter>
</template>

<script>
import appHeader from "./components/appHeader.vue";
import AppFooter from "./components/AppFooter.vue";
import AddTodo from "./components/AddTodo.vue";
import Todo from "./components/Todo.vue";

export default {
  name: "App",
  components: {
    appHeader,
    AppFooter,
    AddTodo,
    Todo,
  },
  data() {
    return {
      todos: [],
      dragging: -1,
      activeTab: "active",
    };
  },
  computed: {
    getActiveTodoCount() {
      return this.todos.filter((f) => f.isComplate == false).length;
    },
    getTodo() {
      switch (this.activeTab) {
        case "all":
          return this.todos;
        case "active":
          return this.todos.filter((f) => f.isComplate == false);
        case "completed":
          return this.todos.filter((f) => f.isComplate == true);
        default:
          return this.todos;
      }
    },
  },
  methods: {
    AddTodo(title) {
      if (!title) {
        this.$toast.error("عنوان را وارد کنید");
        return;
      }
      const id = Math.random().toString(16).slice(2);
      const todo = { id, title: title, isComplate: false };
      this.todos.push(todo);
      this.$toast.success("عملیات با موفقیت انجام شد");
    },
    Deletedtodo(id) {
      const todo = this.todos.find((f) => f.id == id);
      this.todos = this.todos.filter((f) => f.id !== id);
      this.$toast.error(`${todo.title}حذف شد`);
    },
    changeTodo(id, newCheck) {
      console.log(id);
      console.log(newCheck);
      var newTodos = [...this.todos];
      var selectedTodo = newTodos.find((f) => f.id === id);
      selectedTodo.isComplate = newCheck;
      this.todo = newTodos;
    },
    deleteCopleted() {
      if (confirm("ایا از حذف اطمینان دارید")) {
        var newTodos = [...this.todos];
        newTodos = newTodos.filter((f) => f.isComplate == false);
        this.todos = newTodos;
        this.$toast.success("عملیات با موفقیت انجام شد");
      }
    },
    dragStart(index) {
      this.dragging = index;
    },
    drop(index) {
      var newElement = this.todos.splice(this.dragging, 1)[0];
      this.todos.splice(index, 0, newElement);
      // console.log(newElement);
      // console.log(index);
    },
    changeTab(tab) {
      this.activeTab = tab;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
